<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- evitar ataques de Cross Site Scripting (injeção de dados) 
    'unsafe-inline' permite executar eventos que executam funções (Passo 1.3 Crud Update)
    -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>Lista de tarefas</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <main>
        <h1>Lista de tarefas &#x2713;</h1>
        <form id="frmTarefas">
            <input type="text" id="txtTarefa" placeholder="Tarefa" maxlength="11">
            <input type="text" id="txtDescricao" placeholder="Descrição" maxlength="14">
            <input type="submit" value="Salvar" id="btnSalvar">
        </form>
        <!-- Lista de tarefas pendentes Passo 4.1 -->
        <div class="Container">
            <ul id="listaTarefas"></ul>
        </div>       
    </main>

    <!-- Rodapé -->
    <footer>
        <p id="data">Data: </p>
        <img src="../public/img/dboff.png" alt="status banco" id="status">
    </footer>

    <script src="../public/js/renderer.js"></script>
</body>

</html>