<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- evitar ataques de Cross Site Scripting (injeção de dados)-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">

    <!-- css personalizado (por último)-->
    <link rel="stylesheet" href="../public/css/style.css">

    <title>CONEST - Clientes</title>
</head>

<body>
    <div class="container">
        <h1 class="mt-3">Clientes</h1>
        <form class="mt-2 row g-3" id="frmClient">
            <!-- Buscar cliente -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputSearch" maxlength="30" spellcheck="false">               
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" onclick="buscarCliente()" id="btnRead">Buscar</button>
            </div>
            <hr class="mt-4 border border-primary border-1 opacity-75">
            <!-- id oculto-->
            <div class="col-md-6" id="idClient">
                <input type="text" class="form-control" id="inputClientId" placeholder="id">                
            </div>
            <!-- Nome -->
            <div class="col-md-8">
                <label for="inputNameClient" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputNameClient" required maxlength="50" spellcheck="false">
            </div>
            <!-- Telefone -->
            <div class="col-md-4">
                <label for="inputPhoneClient" class="form-label">Telefone</label>
                <input type="tel" class="form-control" id="inputPhoneClient" required maxlength="15">
            </div>
            <!-- E-mail -->
            <div class="col-8">
                <label for="inputEmailClient" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="inputEmailClient" spellcheck="false">
            </div>
            <!-- Botões -->
            <div class="mt-5">
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Excluir</button>
                <button type="reset" class="btn" id="btnReset" onclick="resetForm()"></button>
            </div>
        </form>
    </div>

    <!-- bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>

    <script src="cliente.js"></script>
</body>

</html>