<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>Conest - Produtos</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-3">Produtos</h1>
        <form class="row g-3 mt-2" id="frmProduct">
            <!-- Busca do produto -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchProduct" maxlength="30" spellcheck="false">
                <br>
            </div>
            <div class="col-md-4">
                <img src="../public/img/barcode.png" alt="barcode">
            </div>

            <hr class="border border-primary border-1 opacity-75">

            <!-- Id do produto (pode ser usado como código interno)-->
            <div class="col-md-6" id="idProduct">
                <label for="inputIdProduct" class="form-label">id</label>
                <input type="text" class="form-control" id="inputIdProduct">
            </div>
            <!-- Nome do produto -->
            <div class="col-md-7">
                <label for="inputNameProduct" class="form-label">Produto</label>
                <input type="text" class="form-control" id="inputNameProduct" required spellcheck="false"
                    maxlength="50">
            </div>

            <!-- Barcode -->
            <div class="col-md-5">
                <label for="inputBarcodeProduct" class="form-label">Código de barras</label>
                <input type="text" class="form-control" id="inputBarcodeProduct">
            </div>

            <div class="row">
                <!-- Fornecedor -->
                <div class="mt-3 col-md-4">
                    <label for="selectSuplier" class="form-label">Fornecedor</label>
                    <select class="form-select" id="selectSuplier" name="Fornecedor" required>
                        <option value="" disabled selected>Selecione</option>
                        <option value="kalunga">Kalunga</option>
                        <option value="copel">Copel</option>
                    </select>
                </div>

                <!-- Data -->
                <div class="mt-3 col-md-3">
                    <label for="dataProduct" class="form-label">Data</label>
                    <input type="text" class="form-control" id="dataProduct" disabled>
                </div>

                <!-- Quebra de linha -->
                <div class="w-100 mt-3"></div>

                <!-- Quantidade -->
                <div class="col-md-2">
                    <label for="inputAmountProduct" class="form-label">Quantidade</label>
                    <input type="text" class="form-control" id="inputAmountProduct">
                </div>

                <!-- Unidade de medida -->
                <div class="col-md-2">
                    <label for="selectUnit" class="form-label">Unidade</label>
                    <select class="form-select" id="selectUnit" name="Unidade" required>
                        <option value="" disabled selected>Tipo:</option>
                        <option value="">UN</option>
                        <option value="">PC</option>
                        <option value="">CX</option>
                        <option value="">Kg</option>
                        <option value="">cm</option>
                    </select>
                </div>

                <!-- Valor -->
                <div class="col-md-3">
                    <label for="inputValueProduct" class="form-label">Valor</label>
                    <input type="text" class="form-control" id="inputValueProduct">
                </div>
            </div>

            <!-- Imagem do produto -->
            <div class="col-md-5">
                <img src="../public/img/camera.png" alt="imagem" id="imageProductPreview">
            </div>

            <!-- Botões -->
            <div class="col-12">
                <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
                <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
                <button type="button" class="btn btn-danger" id="btnDelete" onclick="excluirProduto()">Excluir</button>
                <button type="reset" class="btn" id="btnReset" onclick="resetForm()"></button>
                <button type="button" class="btn btn-secondary ms-4" onclick="uploadImage()">Upload</button>
            </div>

        </form>
    </div>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="produtos.js"></script>
</body>

</html>